body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/about.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.about {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 70px;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    & h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        color: black;
    }

    & p {
        margin: 0 1%;
        font-size: 16px;
        margin-bottom: 15px;
    }


    @media screen and (max-width: 900px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}