.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/explore.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.explore {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 70px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    & h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: black;
    }

    & p {
        margin: 0 1%;
        font-size: 16px;
    }
}

.buttons {
    text-align: center;
    margin-top: 20px;

    & a {
        margin: 0 10px;
        display: inline-block;
        background-color: rgb(252, 185, 0);
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding: 16px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
    }

    & a:hover {
        background-color: rgb(255, 165, 0);
    }
}


.pricing-individual,
.pricing-family {

    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    & h2 {
        text-align: center;
    }

    & table {
        width: 100%;
        border-collapse: collapse;
    }

    & th,
    td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    & th {
        background-color: #f2f2f2;
    }

    & tr:nth-child(even) {
        background-color: #f9f9f9;
    }
}
main {
    display: flex;
    flex: 1;
}

.leftcolumn {
    width: 70%;
    padding-right: 20px;
}


.rightcolumn {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: -150px; 
}


.latest-news {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    animation: slideInRight 0.5s ease-in-out forwards;
    margin-bottom: 10px;
}


@media screen and (max-width: 900px) {

    main{
        flex-direction: column;
    }

    .explore,
    .latest-news,
    .buttons,
    .pricing-individual,
    .pricing-family{
        margin-left: 30px;
        margin-right: 0;
    }

    .leftcolumn,
    .rightcolumn {
        width: calc(100% - 40px); 
        margin-left: 0;
        margin-right: 0;
        padding: 10px; 
        margin-top: 90px; 
    }

    .rightcolumn {
        margin-top: 10px;
        order: 3;
    }

    .pricing-individual,
    .pricing-family {
        order: 2;
    }

    .explore {
        order: 1;
    }

    footer {
        order: 4;
    }
}


footer {
    margin-top: auto;
}
