* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin-block: 1rem;
}

p,
h1,
h2,
h3 {
    padding-inline: 1rem;
    line-height: 1.6;
}


header {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    background-image: url(../images/Homeheader.jpg);
    color: white;
    grid-area: header;
    background-color: #2c2c2c;
    background-attachment: fixed;
    background-size: cover;
    height: 60svh;
    display: grid;
    place-content: center;
    text-align: center; 
    border-radius: 20px; 
    padding: 20px; 
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    @media screen and (max-width: 900px) {
            margin-left: 50px;
            margin-right: 50px;
    }
}



nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: rgba(0, 0, 0, 0.8); 
    transition: top 0.3s ease;

    & a {
        background-color: #fcb900;
        display: block;
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 10px;
        text-align: center;
    }

    & li {
        list-style: none;
    }

    & a:hover {
        background-color: black;
        color: white;
    }

    & ul {
        display: flex;
    }

    & li {
        flex: 1;
    }

    .hamburger,
    #hamburgerCheck {
        display: none;
    }

    @media screen and (width < 900px) {
        #hamburgerCheck {
            display: none;
        }

        .hamburger {
            display: block;
            font-size: 2rem;
            padding: 20px;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #fcb900;
        }

        & ul {
            flex-direction: column;
            position: fixed;
            top: 82.7px;
            left: -100%;
            width: 100%;
            transition: left 500ms ease-in-out;
        }

        #hamburgerCheck:checked~ul {
            left: 0;
        }
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/Homepage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.visit-button {
    margin-left: 50px;
    margin-right: 50px;
    display: inline-block;
    background-color: rgba(252, 185, 0, 0.8);
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
}

.visit-button:hover {
    background-color: rgba(255, 165, 0, 0.8);
}


.about {
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(252, 185, 0, 0.8);
    text-align: center; 
    border-radius: 20px; 
    padding: 20px; 
    opacity: 0;
    transform: translateY(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    & h2 {
        margin-bottom: 20px;
    }

    & p {
        display: inline-block;
        width: 30%;
        vertical-align: top; 
        margin: 0 1%; 
    }

    @media screen and (max-width: 900px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.events {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px; 
    padding: 20px; 
    margin-top: 10px; 
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    & h2 {
        margin-top: 20px;
        margin-bottom: 20px; 
    }

    & div {
        display: inline-block;
        text-align: left; 
        width: 60%; 
        margin: 0 auto; 
    }
    @media screen and (max-width : 900px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.footer-content {
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(44, 44, 44, 0.8); 
    border-radius: 20px; 
    padding: 20px;
    margin-top: 10px; 

    @media screen and (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.footer-section {
    margin-left: 150px;
    margin-right: 150px;
    flex: 1;
    margin-right: 20px;
    max-width: 200px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;

    & h3 {
        color: #ffffff; 
        font-size: 16px; 
        margin-bottom: 15px; 
    }

    & ul {
        padding: 0;
    }

    & ul li {
        color: #bbbbbb; 
        font-size: 14px; 
        margin-bottom: 8px; 
        list-style: none; 
    }

    & ul li a {
        color: #bbbbbb; 
        text-decoration: none; 
    }

    & ul li a:hover {
        text-decoration: underline;
    }

    @media screen and (max-width: 900px) {
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


