body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/visit.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.visit-intro
{   
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px; 
    padding: 20px; 
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;
    margin-bottom: 20px;

    & h2 {
        margin-top: 10px;
        text-align: center;
    }
    
    & img {
        float: right;
        padding: 10px;
        border-radius: 30px;

    }

    & p {
        text-align: justify
        ;
    }
}

.visit-button {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;
    display: block;
    background-color: #fcb900;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}

.visit-button:hover {
    background-color: #ffa500;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.timings-section {
    
    border-radius: 20px; 
    padding: 20px; 
    margin-left: 150px;
    margin-right: 150px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 0.5s ease-in-out forwards;
    background-color: rgba(252, 185, 0, 0.8);
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 

    & h2 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
        color: purple;
    }
    
    & ul {
        list-style: none;
        padding: 0;
        text-align: left; 
        width: 300px; 
    }

    & li {
        margin-bottom: 10px;
        font-size: 20px;
        display: flex;
        justify-content: space-between; 
    }

    & li strong {
        width: 180px; 
        text-align: left; 
    }
}

@media screen and (max-width: 900px) {
    .visit-intro,
    .timings-section {
        margin-left: 50px;
        margin-right: 50px;
    }

    .timings-section ul {
        width: 100%; 
    }
}